# PLP OS GRUB Konfigürasyonu

# Siyah Tema Ayarları
set menu_color_normal=white/black
set menu_color_highlight=black/white
set color_normal=white/black

# Varsayılan olarak en üstteki (0.) seçeneği seç
set default="0"
set timeout=5

# 1. SEÇENEK: EN ÜSTE GRAPHICAL INSTALL
menuentry "PLP OS (Graphical Install)" {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet
    initrd   /install.amd/gtk/initrd.gz
}

# 2. Seçenek: Standart Metin Tabanlı Kurulum
menuentry "PLP OS (Text Install)" {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet
    initrd   /install.amd/initrd.gz
}

# 3. Seçenek: Gelişmiş Seçenekler
submenu "Advanced options..." {
    set menu_color_normal=white/black
    set menu_color_highlight=black/white
    
    menuentry "PLP OS (Expert install)" {
        linux    /install.amd/vmlinuz priority=low --- quiet
        initrd   /install.amd/initrd.gz
    }
    menuentry "PLP OS (Rescue mode)" {
        linux    /install.amd/vmlinuz rescue/enable=true --- quiet
        initrd   /install.amd/initrd.gz
    }
}
