# ==========================================
# PLP-OS v1.0.0 "tyr" Core Preseed Config
# ==========================================

# Dil, Klavye ve Zaman Ayarları (Kurulumda seçilebilir ama varsayılanlar)
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select tr
d-i time/zone string Europe/Istanbul

# Ağ Ayarları (Netinstaller otomatik DHCP kullanacak)
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string plp-os
d-i netcfg/get_domain string local

# Mirror (Yansıma) Ayarları - Devuan Depoları
d-i mirror/country string manual
d-i mirror/http/hostname string pkgmaster.devuan.org
d-i mirror/http/directory string /merged
d-i mirror/http/proxy string

# KULLANICI VE GÜVENLİK AYARLARI (İşte o meşhur plp-root burası!)
# root hesabı açık, şifresi: plp-root
d-i passwd/root-login boolean true
d-i passwd/root-password password plp-root
d-i passwd/root-password-again password plp-root

# Normal Kullanıcı Hesap Oluşturma Ekranı (Kullanıcı kurulumda kendi adını girsin)
d-i passwd/make-user boolean true

# BÖLÜMLEME (Partitioning) - Basit ve Temiz Disk Kurulumu
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nochanges boolean true

# Sürücü ve Firmware Desteği (Kapalı kaynak sürücüler için izin veriyoruz)
d-i hw-detect/load_firmware boolean true

# PAKET SEÇİMİ (Bloatware Engelleme & Saf OpenRC)
# Standart masaüstü görevlerini ve systemd paketlerini tamamen REDDEDİYORUZ
tasksel tasksel/first multiselect 
d-i pkgsel/include string openrc, eudev, dbus-x11
d-i pkgsel/upgrade select safe-upgrade

# GRUB Önyükleyici Kurulumu
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

# Kurulum Sonu Çalışacak Sihirli Script (Kurulum bitince bizim scripti tetikleyecek)
d-i preseed/late_command string apt-install wget; wget -O /target/tmp/post-install.sh https://raw.githubusercontent.com/metesapmaz5-lang/PLP-OS/main/post-install.sh && in-target chmod +x /tmp/post-install.sh && in-target /tmp/post-install.sh
