set timeout=10
set default=0

menuentry "PLP OS 2.0 Ellie (Live)" {
    linux /live/vmlinuz boot=live quiet splash
    initrd /live/initrd.img
}

menuentry "Install PLP OS 2.0 Ellie" {
    linux /install.amd/vmlinuz
    initrd /install.amd/initrd.gz
}
